USE [master]
GO
/****** Object:  Database [DB_INVENTARIO]    Script Date: 11/07/2025 14:10:21 ******/
CREATE DATABASE [DB_INVENTARIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_INVENTARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_INVENTARIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_INVENTARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_INVENTARIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_INVENTARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_INVENTARIO]
GO
/****** Object:  User [InventarioUser]    Script Date: 11/07/2025 14:10:21 ******/
CREATE USER [InventarioUser] FOR LOGIN [InventarioUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[MOV_INVENTARIO]    Script Date: 11/07/2025 14:10:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOV_INVENTARIO](
	[COD_CIA] [varchar](5) NOT NULL,
	[COMPANIA_VENTA_3] [varchar](5) NOT NULL,
	[ALMACEN_VENTA] [varchar](10) NOT NULL,
	[TIPO_MOVIMIENTO] [varchar](2) NOT NULL,
	[TIPO_DOCUMENTO] [varchar](2) NOT NULL,
	[NRO_DOCUMENTO] [varchar](50) NOT NULL,
	[COD_ITEM_2] [varchar](50) NOT NULL,
	[PROVEEDOR] [varchar](100) NULL,
	[ALMACEN_DESTINO] [varchar](50) NULL,
	[CANTIDAD] [int] NULL,
	[DOC_REF_1] [varchar](50) NULL,
	[DOC_REF_2] [varchar](50) NULL,
	[DOC_REF_3] [varchar](50) NULL,
	[DOC_REF_4] [varchar](50) NULL,
	[DOC_REF_5] [varchar](50) NULL,
	[FECHA_TRANSACCION] [date] NULL,
 CONSTRAINT [PK_MOV_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[COD_CIA] ASC,
	[COMPANIA_VENTA_3] ASC,
	[ALMACEN_VENTA] ASC,
	[TIPO_MOVIMIENTO] ASC,
	[TIPO_DOCUMENTO] ASC,
	[NRO_DOCUMENTO] ASC,
	[COD_ITEM_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MOV_INVENTARIO] ([COD_CIA], [COMPANIA_VENTA_3], [ALMACEN_VENTA], [TIPO_MOVIMIENTO], [TIPO_DOCUMENTO], [NRO_DOCUMENTO], [COD_ITEM_2], [PROVEEDOR], [ALMACEN_DESTINO], [CANTIDAD], [DOC_REF_1], [DOC_REF_2], [DOC_REF_3], [DOC_REF_4], [DOC_REF_5], [FECHA_TRANSACCION]) VALUES (N'C01', N'V01', N'A01', N'IN', N'FA', N'DOC0001', N'ITEM001', N'ProvA', N'D01', 5, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-01-10' AS Date))
INSERT [dbo].[MOV_INVENTARIO] ([COD_CIA], [COMPANIA_VENTA_3], [ALMACEN_VENTA], [TIPO_MOVIMIENTO], [TIPO_DOCUMENTO], [NRO_DOCUMENTO], [COD_ITEM_2], [PROVEEDOR], [ALMACEN_DESTINO], [CANTIDAD], [DOC_REF_1], [DOC_REF_2], [DOC_REF_3], [DOC_REF_4], [DOC_REF_5], [FECHA_TRANSACCION]) VALUES (N'C01', N'V01', N'A01', N'IN', N'NC', N'DOC0007', N'ITEM007', N'ProvG', N'D01', 7, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-07-01' AS Date))
INSERT [dbo].[MOV_INVENTARIO] ([COD_CIA], [COMPANIA_VENTA_3], [ALMACEN_VENTA], [TIPO_MOVIMIENTO], [TIPO_DOCUMENTO], [NRO_DOCUMENTO], [COD_ITEM_2], [PROVEEDOR], [ALMACEN_DESTINO], [CANTIDAD], [DOC_REF_1], [DOC_REF_2], [DOC_REF_3], [DOC_REF_4], [DOC_REF_5], [FECHA_TRANSACCION]) VALUES (N'C01', N'V02', N'A01', N'OU', N'FA', N'DOC0010', N'ITEM010', N'ProvJ', N'D01', 14, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-07-10' AS Date))
/****** Object:  StoredProcedure [dbo].[uActualizarMovInventario]    Script Date: 11/07/2025 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uActualizarMovInventario] 
    @CodCia varchar(5),
    @CompaniaVenta3 varchar(5),
    @AlmacenVenta varchar(10),
    @TipoMovimiento varchar(2),
    @TipoDocumento varchar(2),
    @NroDocumento varchar(50),
    @CodItem2 varchar(50),
    @Proveedor varchar(100) = NULL,
    @AlmacenDestino varchar(50) = NULL,
    @Cantidad int = NULL,
    @DocRef1 varchar(50) = NULL,
    @DocRef2 varchar(50) = NULL,
    @DocRef3 varchar(50) = NULL,
    @DocRef4 varchar(50) = NULL,
    @DocRef5 varchar(50) = NULL,
    @FechaTransaccion date = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE MOV_INVENTARIO
    SET
        PROVEEDOR = @Proveedor,
        ALMACEN_DESTINO = ISNULL(@AlmacenDestino,ALMACEN_DESTINO),
        CANTIDAD = ISNULL(@Cantidad,ALMACEN_DESTINO),
        DOC_REF_1 = ISNULL(@DocRef1,ALMACEN_DESTINO),
        DOC_REF_2 = ISNULL(@DocRef2,ALMACEN_DESTINO),
        DOC_REF_3 = ISNULL(@DocRef3,ALMACEN_DESTINO),
        DOC_REF_4 = ISNULL(@DocRef4,ALMACEN_DESTINO),
        DOC_REF_5 = ISNULL(@DocRef5,ALMACEN_DESTINO),
        FECHA_TRANSACCION = ISNULL(@FechaTransaccion,FECHA_TRANSACCION)
    WHERE
        COD_CIA = @CodCia AND
        COMPANIA_VENTA_3 = @CompaniaVenta3 AND
        ALMACEN_VENTA = @AlmacenVenta AND
        TIPO_MOVIMIENTO = @TipoMovimiento AND
        TIPO_DOCUMENTO = @TipoDocumento AND
        NRO_DOCUMENTO = @NroDocumento AND
        COD_ITEM_2 = @CodItem2;
END;
GO
/****** Object:  StoredProcedure [dbo].[uConsultarInventario]    Script Date: 11/07/2025 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uConsultarInventario]
    @CodCia varchar(5) = NULL,
    @CompaniaVenta3 varchar(5) = NULL,
    @AlmacenVenta varchar(10) = NULL,
    @TipoMovimiento varchar(2) = NULL,
    @TipoDocumento varchar(2) = NULL,
    @NroDocumento varchar(50) = NULL,
    @CodItem2 varchar(50) = NULL,
    @FechaDesde date = NULL,
    @FechaHasta date = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM MOV_INVENTARIO
    WHERE (@CodCia IS NULL OR COD_CIA = @CodCia)
      AND (@CompaniaVenta3 IS NULL OR COMPANIA_VENTA_3 = @CompaniaVenta3)
      AND (@AlmacenVenta IS NULL OR ALMACEN_VENTA = @AlmacenVenta)
      AND (@TipoMovimiento IS NULL OR TIPO_MOVIMIENTO = @TipoMovimiento)
      AND (@TipoDocumento IS NULL OR TIPO_DOCUMENTO = @TipoDocumento)
      AND (@NroDocumento IS NULL OR NRO_DOCUMENTO LIKE '%' + @NroDocumento + '%')
      AND (@CodItem2 IS NULL OR COD_ITEM_2 = @CodItem2)
      AND (@FechaDesde IS NULL OR FECHA_TRANSACCION >= @FechaDesde)
      AND (@FechaHasta IS NULL OR FECHA_TRANSACCION <= @FechaHasta);
END;
GO
/****** Object:  StoredProcedure [dbo].[uEliminarMovInventario]    Script Date: 11/07/2025 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uEliminarMovInventario]
    @CodCia varchar(5),
    @CompaniaVenta3 varchar(5),
    @AlmacenVenta varchar(10),
    @TipoMovimiento varchar(2),
    @TipoDocumento varchar(2),
    @NroDocumento varchar(50),
    @CodItem2 varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM MOV_INVENTARIO
    WHERE
        COD_CIA = @CodCia AND
        COMPANIA_VENTA_3 = @CompaniaVenta3 AND
        ALMACEN_VENTA = @AlmacenVenta AND
        TIPO_MOVIMIENTO = @TipoMovimiento AND
        TIPO_DOCUMENTO = @TipoDocumento AND
        NRO_DOCUMENTO = @NroDocumento AND
        COD_ITEM_2 = @CodItem2;
END;
GO
/****** Object:  StoredProcedure [dbo].[uInsertarMovInventario]    Script Date: 11/07/2025 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uInsertarMovInventario] 
    @CodCia varchar(5),
    @CompaniaVenta3 varchar(5),
    @AlmacenVenta varchar(10),
    @TipoMovimiento varchar(2),
    @TipoDocumento varchar(2),
    @NroDocumento varchar(50),
    @CodItem2 varchar(50),
    @Proveedor varchar(100) = NULL,
    @AlmacenDestino varchar(50) = NULL,
    @Cantidad int = NULL,
    @DocRef1 varchar(50) = NULL,
    @DocRef2 varchar(50) = NULL,
    @DocRef3 varchar(50) = NULL,
    @DocRef4 varchar(50) = NULL,
    @DocRef5 varchar(50) = NULL,
    @FechaTransaccion date = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO MOV_INVENTARIO (
			COD_CIA
			,COMPANIA_VENTA_3
			,ALMACEN_VENTA
			,TIPO_MOVIMIENTO
			,TIPO_DOCUMENTO
			,NRO_DOCUMENTO
			,COD_ITEM_2
			,PROVEEDOR
			,ALMACEN_DESTINO
			,CANTIDAD
			,DOC_REF_1
			,DOC_REF_2
			,DOC_REF_3
			,DOC_REF_4
			,DOC_REF_5
			,FECHA_TRANSACCION
    ) VALUES (
        @CodCia
		,@CompaniaVenta3
		,@AlmacenVenta
		,@TipoMovimiento
		,@TipoDocumento
		,@NroDocumento
		,@CodItem2
		,@Proveedor
		,@AlmacenDestino
		,@Cantidad
		,@DocRef1
		,@DocRef2
		,@DocRef3
		,@DocRef4
		,@DocRef5
		,@FechaTransaccion
    );
END;
GO
USE [master]
GO
